# Created by .ignore support plugin (hsz.mobi)
.idea
yummy.iml
/hs_err_pid6992.log
/hs_err_pid6096.log
/hs_err_pid5108.log
/hs_err_pid6004.log
/hs_err_pid3504.log
/hs_err_pid9876.log
/hs_err_pid6784.log
/hs_err_pid5716.log
/hs_err_pid8472.log
